<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.nagarro.jsag.phonegapworkshop" versionCode="1" version="1.0.0">

	<name>JSAG : Phonegap Workshop</name>

	<description>
		Phonegap workshop for JSAG at Nagarro
	</description>

	<author email="kaushal.panjwani@nagarro.com">
		Kaushal Panjwani
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/network" />
	
	<preference name="phonegap-version" value="2.0.0" />
	<preference name="orientation" value="default" />
	
	<!-- Android Preferences -->
	<preference name="android-minSdkVersion" value="7" />

</widget>